In [ ]:
pip install selenium

In [ ]:
import selenium
import pandas as pd
import numpy as np
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [ ]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

### Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url = "https://www.naukri.com/"
driver.get(url)

In [ ]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [ ]:
search_job.send_keys("Data Analyst")

In [ ]:
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [ ]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [ ]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles = []
for i in titles_tags:
    job_titles.append(i.text)

In [ ]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_titles = []
for i in experience_tags:
    experience_titles.append(i.text.replace(" Yrs",""))

In [ ]:
company_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_titles = []
for i in company_tags:
    company_titles.append(i.text)

In [ ]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_names=[]
for i in location_tags:
    location_names.append(i.text)

In [ ]:
print(len(job_titles),len(company_titles),len(experience_titles),len(location_names))

In [ ]:
#import pandas as pd

In [ ]:
df = pd.DataFrame(np.column_stack([job_titles[0:10], experience_titles[0:10], company_titles[0:10], location_names[0:10]]), 
                               columns=["Title", "Experience (Yrs)", "Company","Location"])

In [ ]:
df

In [ ]:
df.to_csv('Job list.csv')

### Q2. Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- 
1. All of the above steps have to be done in code. No step is to be done manually.
2.Please note that you have to scrape full job description. For that you may have to open each job separately as shown below

In [ ]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url = "https://www.naukri.com/"
driver.get(url)

In [ ]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [ ]:
search_job.send_keys("Data Scientist")

In [ ]:
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.send_keys("Bangalore")

In [ ]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [ ]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles = []
for i in titles_tags:
    job_titles.append(i.text)

In [ ]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_titles = []
for i in experience_tags:
    experience_titles.append(i.text.replace(" Yrs",""))

In [ ]:
company_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_titles = []
for i in company_tags:
    company_titles.append(i.text)

In [ ]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_names=[]
for i in location_tags:
    location_names.append(i.text)

In [ ]:
urls  = []
for i in range(0,1):
    for j in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
        urls.append(j.get_attribute('href'))
    driver.find_element_by_xpath('//a[@class="fright fs14 btn-secondary br2"]').click()
#end.get_attribute('href').click()
    time.sleep(3)

In [ ]:
job_desc = []

for i in urls:
    driver.get(i)
    desc = driver.find_element_by_xpath("//*[contains(text(),' ')]")
    job_desc.append(desc.text.replace('\n', ''))

In [ ]:
print(len(job_titles),len(company_titles),len(experience_titles),len(location_names),len(job_desc))

In [ ]:
job_desc[0]

In [ ]:
df = pd.DataFrame(np.column_stack([job_titles[0:10], experience_titles[0:10], company_titles[0:10], location_names[0:10], job_desc[0:10]]), 
                               columns=["Title", "Experience (Yrs)", "Company","Location","Job Description"])

In [ ]:
df

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url = "https://www.naukri.com/"
driver.get(url)

In [ ]:
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [ ]:
search_job.send_keys("Data Scientist")

In [ ]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [ ]:
filter_button = driver.find_elements_by_xpath("//div[@class = 'mt-8 chckBoxCont']")
for i in filter_button:
    if 'Delhi / NCR' in i.text :
        i.click()
        break

In [ ]:
filter_button = driver.find_elements_by_xpath("//div[@class = 'mt-8 chckBoxCont']")
for i in filter_button:
    if '3-6 Lakhs' in i.text :
        i.click()
        break

In [ ]:
titles_tags = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles = []
for i in titles_tags:
    job_titles.append(i.text)

In [ ]:
experience_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_titles = []
for i in experience_tags:
    experience_titles.append(i.text.replace(" Yrs",""))

In [ ]:
company_tags= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_titles = []
for i in company_tags:
    company_titles.append(i.text)

In [ ]:
location_tags = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_names=[]
for i in location_tags:
    location_names.append(i.text)

In [ ]:
print(len(job_titles),len(company_titles),len(experience_titles),len(location_names))

In [ ]:
#import pandas as pd

In [ ]:
df = pd.DataFrame(np.column_stack([job_titles[0:10], experience_titles[0:10], company_titles[0:10], location_names[0:10]]), 
                               columns=["Title", "Experience (Yrs)", "Company","Location"])

In [ ]:
df

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button. You will land up in the below page:
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url = "https://www.glassdoor.co.in/index.htm?countryRedirect=true"
driver.get(url)

In [ ]:
signin_button = driver.find_element_by_xpath("//button[@class = 'd-none d-lg-block p-0 LockedHomeHeaderStyles__signInButton']")
signin_button.click()

In [ ]:
#manually login using email id and password for glassdoor website

In [ ]:
search_job = driver.find_element_by_id('sc.keyword')
search_job

In [ ]:
search_job.send_keys("Data Scientist")

In [ ]:
search_loc = driver.find_element_by_id('sc.location')
search_loc

In [ ]:
#search_loc.clear()

In [ ]:
for i in range(0,10):
    search_loc.send_keys(Keys.BACKSPACE)

In [ ]:
search_loc.send_keys("Noida")

In [ ]:
search_button = driver.find_element_by_xpath("//button[@class ='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_button.click()

In [ ]:
company_tags= driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
company_titles = []
for i in company_tags:
    company_titles.append(i.text)

In [ ]:
rating_tags= driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")
rating_titles = []
for i in rating_tags:
    rating_titles.append(i.text)

In [ ]:
days_tags = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
days_titles = []
for i in days_tags:
    days_titles.append(i.text)

In [ ]:
print(len(company_titles),len(rating_titles),len(days_titles))

In [ ]:
#import pandas as pd

In [ ]:
df = pd.DataFrame(np.column_stack([company_titles[0:10], rating_titles[0:10], days_titles[0:10]]), 
                               columns=["Company Name", "Rating","Days since job was posted"])

In [ ]:
df

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [ ]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
url = "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)

In [ ]:
search_job = driver.find_element_by_id('KeywordSearch')
search_job

In [ ]:
search_job.send_keys("Data Scientist")

In [ ]:
search_loc = driver.find_element_by_id('LocationSearch')
search_loc

In [ ]:
#search_loc.clear()

In [ ]:
for i in range(0,10):
    search_loc.send_keys(Keys.BACKSPACE)

In [ ]:
search_loc.send_keys("Noida")

In [ ]:
search_button = driver.find_element_by_xpath("//button[@class ='gd-btn-mkt']")
search_button.click()

In [ ]:
para = driver.find_elements_by_xpath("//div[@class='d-flex']")
para_list = []
for i in para:
    para_list.append(i.text.replace('Data Scientist\n', ""))

In [ ]:
para_list

In [ ]:
df = pd.DataFrame(np.column_stack([para_list[0:10]]), columns=["Job_Role"])

In [ ]:
df["Job_Role"][1]

In [ ]:
df[['Company Name', 'Salaries', 'Salaries_All Loc', 'Additional']] = df.Job_Role.str.split("\n",expand=True)

In [ ]:
df.drop(columns="Job_Role", axis = 1, inplace = True)

In [ ]:
len(df)

In [ ]:
for i in range(0,len(df)):
    if (df["Company Name"][i]==df["Salaries"][i]):
        print(df["Salaries"][i])
        print(df["Salaries_All Loc"][i])
        df["Salaries"][i] = df["Salaries_All Loc"][i]
        df["Salaries_All Loc"][i] = df["Additional"][i]

In [ ]:
df.drop(columns="Additional", axis = 1, inplace=True)

In [ ]:
df

In [ ]:
avgsal_e= driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avgsal = []
for i in avgsal_e:
    avgsal.append(i.text)

In [ ]:
avgsal[:10]

In [ ]:
sal_range_e = driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']")
sal_range = []
for i in range(0, len(sal_range_e)):
    sal_range.append(sal_range_e[i].text)
sal_range

In [ ]:
df1 = pd.DataFrame(np.column_stack([sal_range[0:10]]), columns=["Sal_Range"])

In [ ]:
df1[['Minimum Salary', 'Maximum Salary']] = df1.Sal_Range.str.split("\n",expand=True)

In [ ]:
df1.drop(columns="Sal_Range", axis = 1, inplace=True)

In [ ]:
df1

In [ ]:
df["Min Salary"] = df1["Minimum Salary"]

In [ ]:
df["Max Salary"] = df1["Maximum Salary"]

In [ ]:
df

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [2]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.flipkart.com/"
driver.get(url)

In [3]:
#close the pop up for signing into flipkart
close_popup = driver.find_element_by_xpath("//button[@class = '_2KpZ6l _2doB4z']")
close_popup.click()

In [4]:
search = driver.find_element_by_xpath("//div[@class = '_3OO5Xc']/input")

In [5]:
search.send_keys("sunglasses")

In [6]:
driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']").click()

In [23]:
urls  = []
for j in driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a'):
    urls.append(j.get_attribute('href'))

In [30]:
urls.pop() #the last url point to page 2 again, hence removing it
len(urls)

10

In [31]:
desc = []

for i in urls:
    driver.get(i)
    desc_e = driver.find_elements_by_xpath("//div[@class='_2B099V']")
    for j in desc_e:
        desc.append(j.text)

In [33]:
desc[0]

'ROYAL SON\nUV Protection Wrap-around Sunglasses (52)\n₹899₹1,99955% off'

In [79]:
df = pd.DataFrame(np.column_stack([desc[0:100]]), columns=["Company Name"])

In [80]:
df[['Company Name', 'Description', 'Price', 'Discount%', '2', '3']] = df["Company Name"].str.split("\n",expand=True)

In [81]:
df.drop(columns = ["2", "3"], axis=1, inplace= True)

In [82]:
df.head()

,Company Name,Description,Price,Discount%
0,ROYAL SON,UV Protection Wrap-around Sunglasses (52),"₹899₹1,99955% off",None
1,LIZA ANGEL,"UV Protection, Mirrored, Riding Glasses Retro ...",₹259₹79967% off,Or Pay ₹246 +
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630₹79921% off,Or Pay ₹598 +
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),"₹499₹2,22577% off",None
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...","₹404₹1,99979% off",None

In [84]:
for i in range(0, len(df)):
    df["Discount%"][i] = df["Price"][i][-7:-4]
    df["Price"][i] = df["Price"][i][0:4]

In [85]:
df

,Company Name,Description,Price,Discount%
0,ROYAL SON,UV Protection Wrap-around Sunglasses (52),₹899,55%
1,LIZA ANGEL,"UV Protection, Mirrored, Riding Glasses Retro ...",₹259,67%
2,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹630,21%
3,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77%
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79%
5,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15%
6,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80%
7,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹733,18%
8,PIRASO,UV Protection Aviator Sunglasses (Free Size),₹349,78%
9,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,22%

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: 
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [86]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [87]:
driver.find_element_by_xpath("//div[@class = '_3UAT2v _16PBlm']").click()

In [88]:
urls  = []
for j in driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a'):
    urls.append(j.get_attribute('href'))

In [89]:
len(urls)

11

In [90]:
urls.pop() #the last url point to page 2 again, hence removing it
len(urls)

10

In [181]:
rating = []
review_summary = []
full_review = []

for i in urls:
    driver.get(i)
    rating_e = driver.find_elements_by_xpath("//div[@class='_1AtVbE col-12-12']")
    for j in rating_e:
        k = j.text
        if k[0] in ['1','2','3','4','5']:
            rating.append(k[0])
    del rating[0]
    review_summary_e = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for j in review_summary_e:
        review_summary.append(j.text)
    full_review_e = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for j in full_review_e:
        full_review.append(j.text)

In [182]:
len(rating)

100

In [183]:
df = pd.DataFrame(np.column_stack([rating, review_summary, full_review]), 
                               columns=["Rating", "Review Summary","Full Review"])

In [184]:
df.head()

  Rating     Review Summary                                        Full Review
0      5          Brilliant  The Best Phone for the Money\n\nThe iPhone 11 ...
1      4   Perfect product!  Amazing phone with great cameras and better ba...
2      5      Great product  Amazing Powerful and Durable Gadget.\n\nI’m am...
3      5  Worth every penny  Previously I was using one plus 3t it was a gr...
4      5        Good choice  So far it’s been an AMAZING experience coming ...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.
Also note that all the steps required during scraping should be done through code only and not manually.

In [185]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.flipkart.com/"
driver.get(url)

In [186]:
#close the pop up for signing into flipkart
close_popup = driver.find_element_by_xpath("//button[@class = '_2KpZ6l _2doB4z']")
close_popup.click()

In [187]:
search = driver.find_element_by_xpath("//div[@class = '_3OO5Xc']/input")

In [188]:
search.send_keys("sneakers")

In [189]:
driver.find_element_by_xpath("//button[@class = 'L0Z3Pu']").click()

In [190]:
urls  = []
for j in driver.find_elements_by_xpath('//nav[@class="yFHi8N"]/a'):
    urls.append(j.get_attribute('href'))

In [191]:
urls.pop() #the last url point to page 2 again, hence removing it
len(urls)

10

In [192]:
desc = []

for i in urls:
    driver.get(i)
    desc_e = driver.find_elements_by_xpath("//div[@class='_2B099V']")
    for j in desc_e:
        desc.append(j.text)

In [193]:
desc[0]

'well feet\nsneaker for mens and boys Sneakers For Men\n₹399₹59933% off'

In [194]:
df = pd.DataFrame(np.column_stack([desc[0:100]]), columns=["Company Name"])

In [195]:
df[['Company Name', 'Description', 'Price', 'Discount%', '2', '3']] = df["Company Name"].str.split("\n",expand=True)

In [197]:
df.drop(columns = ["2", "3"], axis=1, inplace= True)

In [198]:
df.head()

,Company Name,Description,Price,Discount%
0,well feet,sneaker for mens and boys Sneakers For Men,₹399₹59933% off,None
1,PEHANOSA,Sneakers For Men,₹499₹99950% off,None
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379₹99962% off,None
3,Numenzo,Sneakers For Men,₹398₹99960% off,None
4,Robbie jones,Sneakers For Men,₹474₹99952% off,None

In [199]:
for i in range(0, len(df)):
    df["Discount%"][i] = df["Price"][i][-7:-4]
    df["Price"][i] = df["Price"][i][0:4]

In [200]:
df

,Company Name,Description,Price,Discount%
0,well feet,sneaker for mens and boys Sneakers For Men,₹399,33%
1,PEHANOSA,Sneakers For Men,₹499,50%
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62%
3,Numenzo,Sneakers For Men,₹398,60%
4,Robbie jones,Sneakers For Men,₹474,52%
...,...,...,...,...
95,ESSENCE,Sneakers For Men,₹442,55%
96,Axter,Combo Pack of 2 Casual Loafer Sneakers Shoes S...,₹299,78%
97,BRUTON,Combo Pack of 5 Casual Sneakers With Sneakers ...,₹719,82%
98,Onivixo,Men's White Suede Leather Lace-Up High Ankle C...,₹471,60%
99,SHOELIFE,Sneakers For Men,₹449,55%

### Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note Please note that applying the filter and scraping the data , everything should be done through code only and there should not be any manual step.

In [202]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")
url = "https://www.myntra.com/shoes"
driver.get(url)

In [205]:
filter_button = driver.find_elements_by_xpath("//label[@class = 'common-customCheckbox']")
for i in filter_button:
    if 'Black' in i.text :
        i.click() 
        break

In [ ]:
filter_button = driver.find_elements_by_xpath("//label[@class = 'common-customCheckbox vertical-filters-label']")
for i in filter_button:
    if 'Rs. 6649 to Rs. 13099' in i.text :
        i.click() 
        break

In [221]:
desc = []
for i in range(0,2):
    desc_e = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
    time.sleep(3)
    for j in desc_e:
        desc.append(j.text)
    driver.find_element_by_xpath('//li[@class="pagination-next"]').click()

In [222]:
len(desc)

100

In [224]:
desc[0]

'Nike\nAIR ZOOM PEGASUS Running Shoes\nRs. 11495'

In [192]:
desc_e = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']")
for j in desc_e:
    desc.append(j.text)

In [193]:
desc[0]

'well feet\nsneaker for mens and boys Sneakers For Men\n₹399₹59933% off'

In [263]:
df = pd.DataFrame(desc, columns =['Company Name'])

In [264]:
df.head()

                                        Company Name
0    Nike\nAIR ZOOM PEGASUS Running Shoes\nRs. 11495
1      Nike\nMen KD13 EP Basketball Shoes\nRs. 12995
2  Nike\nMen React Infinity Running\nRs. 11621Rs....
3  PUMA Motorsport\nUnisex Mercedes Running Shoes...
4  Nike\nWomen PEGASUS 37 Running Shoes\nRs. 7496...

In [265]:
df[['Company Name', 'Description', 'Price', 'Extra']] = df["Company Name"].str.split("\n",expand=True)

In [266]:
df.head()

,Company Name,Description,Price,Extra
0,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495,None
1,Nike,Men KD13 EP Basketball Shoes,Rs. 12995,None
2,Nike,Men React Infinity Running,Rs. 11621Rs. 15495(25% OFF),Only Few Left!
3,PUMA Motorsport,Unisex Mercedes Running Shoes,Rs. 7999,Only Few Left!
4,Nike,Women PEGASUS 37 Running Shoes,Rs. 7496Rs. 9995(25% OFF),None

In [267]:
df.drop(columns = ["Extra"], axis=1, inplace= True)

In [269]:
df[['Extra', 'Price','Price before discount']] = df["Price"].str.split("Rs. ",expand=True)

In [271]:
df.head()

,Company Name,Description,Price,Extra,Price before discount
0,Nike,AIR ZOOM PEGASUS Running Shoes,11495,,None
1,Nike,Men KD13 EP Basketball Shoes,12995,,None
2,Nike,Men React Infinity Running,11621,,15495(25% OFF)
3,PUMA Motorsport,Unisex Mercedes Running Shoes,7999,,None
4,Nike,Women PEGASUS 37 Running Shoes,7496,,9995(25% OFF)

In [272]:
df.drop(columns = ['Extra', 'Price before discount'], axis = 1, inplace = True)

In [273]:
df.head()

      Company Name                     Description  Price
0             Nike  AIR ZOOM PEGASUS Running Shoes  11495
1             Nike    Men KD13 EP Basketball Shoes  12995
2             Nike      Men React Infinity Running  11621
3  PUMA Motorsport   Unisex Mercedes Running Shoes   7999
4             Nike  Women PEGASUS 37 Running Shoes   7496

### Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [330]:
driver = webdriver.Chrome(r"C:\Users\User\Downloads\chromedriver_win32\chromedriver.exe")

In [331]:
url = "https://www.amazon.in/"
driver.get(url)

In [332]:
search = driver.find_element_by_id("twotabsearchtextbox")

In [333]:
search.send_keys("Laptop")

In [334]:
driver.find_element_by_id("nav-search-submit-button").click()

In [335]:
#i7 filter
filter_button = driver.find_elements_by_xpath("//a[@class = 'a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text == 'Intel Core i7':
        i.click()
        break

In [282]:
#i9 filter 
#Note: only 1 filter is acceptable at a time, either i7 or i9
filter_button = driver.find_elements_by_xpath("//a[@class = 'a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text == 'Intel Core i9':
        i.click()
        break

In [429]:
title = []
rating = []
price = []

title_e = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for j in title_e:
    title.append(j.text)

rating_e = driver.find_elements_by_xpath('//div[@class="a-section a-spacing-none a-spacing-top-micro"]/div/span')
for j in rating_e:
    if (j.get_attribute('aria-label') != None) and ('stars' in j.get_attribute('aria-label')):
        rating.append(j.get_attribute('aria-label'))
    
price_e = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for j in price_e:
        price.append(j.text)

In [433]:
df = pd.DataFrame(np.column_stack([title[0:10], rating[0:10], price[0:10]]), 
                               columns=["Title", "Rating","Price"])

In [434]:
df.head()

,Title,Rating,Price
0,Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120h...,3.9 out of 5 stars,"82,490"
1,Lenovo Yoga Slim 7 10th Gen Intel Core i7 14 i...,3.2 out of 5 stars,"83,990"
2,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5 stars,"53,999"
3,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...",4.2 out of 5 stars,"3,43,099"
4,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...",4.3 out of 5 stars,"1,35,490"